body {
    background-color: lightblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.jumbotron {
    background: white;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    width: calc(100% / 3);
}

.jumbotron-title {
    font-size: 36px;
}

.jumbotron-title-condensed {
    font-size: 36px;
    margin: 5px;
}

.form-text-input {
    margin: 0 20px 15px;
    padding: 10px;
    width: 80%;
}

.form-text-dropdown {
    margin: 0 20px 15px;
    border: 1px solid lightgray;
    padding: 10px;
    width: 80%;
}

.form-submit-btn {
    padding: 10px;
    width: 25%;
    background: lightgray;
}

.jumbotron-subtitle {
    font-size: 20px;
}


@media only screen and (max-width: 768px) {
    .jumbotron {
        width: 80%;
    }

    .form-submit-btn {
        width: 75%;
    }
}

