<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta property="og:image" th:content="${new_url}">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <img th:src="*{new_url}" th:alt="*{new_url}">
</body>

</html>