<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Page</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="jumbotron" style="text-align: center">
        <form action="#" th:action="@{/page/link}" th:object="${request}" method="post" id="url-shorten-form">
            <div class="">
                <input type="text" class="form-text-input" th:field="*{oldUrl}" id="inputUrl" placeholder="http://www.google.com"
                    pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$"
                    title="Valid url" required>
                <select id="timeToExist" class="form-text-dropdown" th:field="*{minutesToExist}">
                    <option value=60>1 Hour</option>
                    <option value=360>6 Hours</option>
                    <option value=720>12 Hours</option>
                    <option value=1440>1 day</option>
                </select>
                <button type="submit" class="form-submit-btn">Shorten Url</button>
            </div>
        </form>
    </div>
</body>

</html>
