<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Not Found</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="jumbotron">
        <h1 class="jumbotron-title">Error Finding Link</h1>
        <p class="jumbotron-subtitle">Invalid link or expired.</p>
    </div>
</body>

</html>