<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta property="og:image" th:content="${new_url}">
        <meta property="og:description" th:content="${#strings.abbreviate(text, 150)}">
        <meta property="og:title" content="A new text snippet is being shared with you">

        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>

    <body>
        <pre>
            <code id="codeBlock" th:text="${text}"></code>
        </pre>
    </body>

</html>